*{
  margin: 0;
}

@font-face {
  font-family:'GothamMedium';
  src: local('GothamMedium'), url('./font/GothamMedium.ttf'), format('true');
  font-weight: normal;
}

body {
  margin: 0;
  font-family: 'GothamMedium', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
